* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #263238;
  -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
}


.nav-element {
  background-color: #ffffff;
}


.nav-bar {
  padding: 1rem ;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #0f0f3e;
  align-items: center;
  /* border-bottom: 1px solid #00796b; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar>h1{
  color: #fff;
}
.togglebutton {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 50px;
  background-color: #fff;
  z-index: 1;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  color: #7978c7;
  font-weight: bold;
  outline: transparent;
}

/* Background fill effect */
.togglebutton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;  /* Start off-screen to the left */
  width: 100%;
  height: 100%;
  background-color: black;
  transition: left 0.4s ease-in-out;  
  z-index: -1;
}

.togglebutton:hover::before {
  left: 0; 
}

.togglebutton:hover {
  color: white; 
}

.togglebutton:hover {
  transform: scale(1.1); 
}
.main-body {
  margin-top: 90px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  /* padding-bottom: 100px; */
}



ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 20%;
}


.search-box .searchbar,
.search-box .drop-down {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #b0bec5;
}






.bluetooth-connector.dark-theme {
  color: #eceff1;
}
::-webkit-scrollbar {
  display: none;
}


/* heading styles */
.graph-menu-h2 {
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.study-topic {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 1rem;
}

/* Card styles */
.card {
  height: 162px;
  width: 288px;
  flex-grow: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 10px;
  overflow: hidden;
  /* for thumbnail grad */
  line-height: 1.5;
  background: linear-gradient(90deg, #000000 0%, #0a0a24 10%, #171453 30%, #1e1b70 60%, #282698 80%,#2e2cb3 90%, #3130be 100%);
}
.thumbnail {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  
}
/*
for thumbnail img

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
} 
*/


.card:hover {
  box-shadow: 4px 4px #2a263c;
  transform: scale(1.05);
}
.nav-element{
  padding: 1rem;
  margin: 0.5rem;
  border: none;
}

/* .graph-name {
  padding: 3px;
  color: #00796b;
} */

/* .image-holder {
  height:150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#graph-container{
  justify-content: center;
}
.image-holder video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.sub{
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 1rem;
  width: 90%;
}



.study-topic {
  margin-top: 20px;
}



.btn {
  border: none;
  padding: 1rem 2rem;
  background-color: rgb(0, 150, 136);
  margin-top: 2rem;
  font-size: 15px;
  font-style: bold;
  color: #fff;
  background: linear-gradient(90deg, #000000 0%, #0a0a24 10%, #171453 30%, #1e1b70 60%, #282698 80%, #2e2cb3 90%, #3130be 100%);
  border: 15px;
}


/* loader animations */
.loader-div {
  display: none;
  position: fixed;
  margin: 0px;
  padding: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 30001;
  opacity: 0.8;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.send-div {
  display: none;
  position: fixed;
  margin: 0px;
  padding: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 30001;
  opacity: 0.8;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.update-div {
  display: none;
  position: fixed;
  margin: 0px;
  padding: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 30001;
  opacity: 0.8;
}

.loader-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* video */
.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2rem; */
  border-radius: 1rem;
  width: fit-content;
}


video {
  padding: 0.5rem 0.5rem;
  height: 40vh;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  background-color: #000;
  /* Black video background */
}

@media (max-width: 600px) {
  video {
    height: 40vh;
    width: auto;
  }
}
@media (max-width: 600px) {
  video {
    width: 90%;
  }
}


@media (max-width: 800px) {
  h1 {
    display: none;
    padding-left: 0.5rem;
    font-size: 2rem;
  }
  .sub{
    display: block;
  }
  ul{
    margin-right: 1rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  video {
    height: 60vh;
    width: auto;
  }
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  background-color: #0f0f3e;
  color: #ffffff;
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
}

.footer-div {
  text-align: center;
}

/* Add this to ensure content fills viewport */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

 a {
  color: inherit;
  text-decoration: none;
    /* Remove underline */
    -webkit-tap-highlight-color: transparent;
    /* Remove grey tap highlight on mobile */
    -webkit-text-fill-color: inherit;
    /* Prevent Safari from applying default link coloring */
    -webkit-user-select: none;
    user-select: none;
}